* {
    padding: 0;
    margin: 0;

}

header {
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger {
    margin: 15px;
    display: flex;
    width: 50px;
    height: 40px;
    flex-direction: column;
    justify-content: space-around;

}

span {
    border-top: 5px solid rgb(193, 81, 81);
    width: 80%;
    border-radius: 2px;
    transition: 0.5s;

}

.slideright {
    width: 35%;
    align-self: flex-start;
    margin-left: 10%;
}

.midspan {
    align-self: center;
}

.slideleft {
    width: 35%;
    align-self: flex-end;
    margin-right: 10%;

}

#hamburger:hover .slideright,
#hamburger:hover .slideleft {
    width: 80%;
}



.rotate {
    transform: rotate(-45deg);
}

.rotate-left,
.rotate-right {
    transform: rotate(45deg);
    width: 37% !important;
}


.rotate-right {
    margin-top: 20%;
}

/* menu background-1 */

.menubg1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fb04ab;
    z-index: -2;
    border-bottom-left-radius: 500%;
}
.menubg2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #45D7D9;
    z-index: -1;
    border-bottom-left-radius: 500%;
}

.openmenu {
    animation: bigmenu 0.8s forwards;
}

.closemenu {
    animation: smallmenu 0.8s forwards;
}

@keyframes bigmenu {
    0% {
        width: 0;
        height: 0;
    }

    25% {
        width: 25%;
        height: 25%;
    }

    50% {
        width: 50%;
        height: 50%;
    }

    75% {
        width: 75%;
        height: 75%;
    }

    100% {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0%;

    }
}

@keyframes smallmenu {
    0% {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0%;
    
    }

    25% {
        width: 75%;
        height: 75%;
    }

    50% {
        width: 50%;
        height: 50%;
    }

    75% {
        width: 25%;
        height: 25%;
    }

    100% {
        width: 0;
        height: 0;

    }
}